.additive {
  position: relative;

  &--tyres {
    display: none;
    margin-bottom: 100px;

    @media (max-width: $tablet-width) {
      display: block;
    }
    @media (max-width: $mobile-width) {
      padding-left: 10px;
    }
  }

  &--card {
    margin-bottom: 100px;

    @media (max-width: $mobile-width) {
      padding-left: 15px;
    }
  }
}

.additive h2 {
  font-size: 27px;
  line-height: 25px;
  font-weight: bold;
  letter-spacing: 0.5px;
  padding-left: 15px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
    margin-right: 20px;
    text-align: center;
  }
}

.additive--tyres h2 {
  font-size: 25px;
  line-height: 36px;
  text-align: start;

  @media (max-width: $tablet-width) {
    text-align: center;
  }
}

.additive__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 15px;

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }

  &::after {
    @media (max-width: $mobile-width) {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      top: 0;
      width: 75px;
      height: 30px;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0) 8%, rgba(255, 255, 255, 0.8832575266434699) 37%, rgba(255, 255, 255, 1) 95%);
      z-index: 5;
    }
  }
}

.additive__button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #48494d;
  margin: 0 25px 10px 0;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 10px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-right: 12px;
  }

  &:hover {
    text-shadow: 1px 0 0 #48494d;
    border-bottom: 2px solid #ff7931;
    border-right: none;
    border-left: none;
  }

  &--active {
    text-shadow: 1px 0 0 #48494d;
    border-bottom: 2px solid #ff7931;
    border-right: none;
    border-left: none;
  }
}

.additive__products {
  margin-bottom: 93px;
  min-width: 0;

  @media (max-width: $mobile-width) {
    padding-left: 11px;
    margin-bottom: 195px;
  }
}

.additive__more {
  position: absolute;
  width: 252px;
  height: 50px;
  padding-top: 17px;
  left: 50%;
  bottom: -115px;
  margin-left: -120px;
  background-color: #f0f0f4;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #bdbec2;
  text-decoration: none;
  box-sizing: border-box;
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    margin-left: -123px;
  }
}
