.advertise-banner {
  margin-bottom: 80px;
}

.advertise-banner a img {
  display: block;
  width: 100%;
  height: 100%;

  @media (max-width: $mobile-width) {
    display: none;
  }
}


.advertise-banner a {
  @media (max-width: $mobile-width) {
    display: block;
    width: 300px;
    height: 92px;
    background-image: url("../../img/sale-mobile.jpg");
  }
}
