.breadcrumbs {
  display: flex;
  list-style: none;
  margin: 0 0 40px 0;
  padding: 0;

  &--card {
    margin-bottom: 37px;

    @media (max-width: $mobile-width) {
      margin-bottom: 60px;
    }
  }
}

.breadcrumbs li:not(:last-of-type)::after {
  content: ">";
  margin: 0 10px;
  color: #cdcdcd;
}

.breadcrumbs li a {
  text-decoration: none;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #cdcdcd;
}

.breadcrumbs li a:hover {
  color: #8a8787;
}
