.categories {
  margin-bottom: 50px;
}

.categories__nav-list {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
}

.categories__list-item {
  position: relative;
  width: 370px;  width: 370px;
  height: 129px;
  margin-bottom: 30px;
  background: #FFFFFF;
  border: 1px solid #CDCDCD;
  box-sizing: border-box;
  border-radius: 3px;

  @media (max-width: $mobile-width) {
    width: 290px;
  }
}

.categories__list-item:hover {
  box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  border-radius: 3px;

}

.categories__item-text {
  position: relative;
  display: block;
  padding: 19px 20px 80px 20px;
  background-color: transparent;
  z-index: 1;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: 1px;
  line-height: 28px;
  color: #48494D;
}

.categories__item-text:hover {
  color: #FF7931;
}

.categories__item-image {
  position: absolute;
  z-index: 0;
  top: 15px;
  right: 24px;
  width: 97px;
  height: 97px;
  background-color: #FF7931;
  border-radius: 50%;

  @media (max-width: $mobile-width) {
    width: 60px;
    height: 60px;
    top: 47px;
    right: 21px;
  }
}

.categories__item-image--autochemical {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M35 8s0 2.3.9 3.9c.6 1 3.7 5.4 5.6 7.7 1.2 1.4.9 2.8.9 3.1v38.7c0 .9-.8 1.5-1.9 1.5H3.4c-1 0-1.4-.6-1.4-1.5v-33c0-3.1 1-6 4-8l18.1-8.6c1.5-.7 2.5-2 2.6-3.4v-.5H35V8z' stroke='%23fff' stroke-width='3' stroke-miterlimit='10'/%3E%3Cpath d='M35 8.5h-9a1 1 0 01-1-1V3c0-.6.5-1 1-1h9c.6 0 1 .5 1 1v4.5c0 .5-.5 1-1 1zM17 46.5h20M17 54.5h13' stroke='%23fff' stroke-width='3' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 45%;
  }
}

.categories__item-image--wheels {
  background-image: url("data:image/svg+xml,%3Csvg width='65' height='65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.5 64a31.5 31.5 0 100-63 31.5 31.5 0 000 63z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M32.5 56.7a24.2 24.2 0 100-48.4 24.2 24.2 0 000 48.4z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M32.5 42.34a9.84 9.84 0 100-19.68 9.84 9.84 0 000 19.68z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M32.5 37.8a5.42 5.42 0 100-10.83 5.42 5.42 0 000 10.84zM24.87 9.51c.22 1 .45 2.1.45 3.1a12.6 12.6 0 01-12.6 12.6c-1.1 0-2.1-.12-3.1-.45M40.13 9.51c-.22 1-.45 2.1-.45 3.1a12.6 12.6 0 0012.6 12.6c1.1 0 2.1-.12 3.1-.45M24.87 55.49c.22-1 .45-2.1.45-3.1a12.6 12.6 0 00-12.6-12.6c-1.1 0-2.1.12-3.1.45M40.13 55.49c-.22-1-.45-2.1-.45-3.1a12.6 12.6 0 0112.6-12.6c1.1 0 2.1.12 3.1.45' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 65%;
  }
}

.categories__item-image--instruments {
  background-image: url("data:image/svg+xml,%3Csvg width='44' height='82' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M1 39h42v7H1zM14.34 34l3-10h9.88l2.5 10H14.34zM14.38 51l2.94 9h9.36l2.94-9H14.38z'/%3E%3Cmask id='a' fill='%23fff'%3E%3Cpath d='M17.06 0h9.88v19.77h-9.88V0z'/%3E%3C/mask%3E%3Cpath d='M17.06 0v-2h-2v2h2zm9.88 0h2v-2h-2v2zm0 19.77v2h2v-2h-2zm-9.88 0h-2v2h2v-2zm0-17.77h9.88v-4h-9.88v4zm7.88-2v19.77h4V0h-4zm2 17.77h-9.88v4h9.88v-4zm-7.88 2V0h-4v19.77h4z' fill='%23fff' mask='url(%23a)'/%3E%3Cmask id='b' fill='%23fff'%3E%3Cpath d='M17.06 63.82h9.88v17.3h-9.88v-17.3z'/%3E%3C/mask%3E%3Cpath d='M17.06 63.82v-2h-2v2h2zm9.88 0h2v-2h-2v2zm0 17.3v2h2v-2h-2zm-9.88 0h-2v2h2v-2zm0-15.3h9.88v-4h-9.88v4zm7.88-2v17.3h4v-17.3h-4zm2 15.3h-9.88v4h9.88v-4zm-7.88 2v-17.3h-4v17.3h4z' fill='%23fff' mask='url(%23b)'/%3E%3Ccircle cx='22' cy='6' r='2' fill='%23fff'/%3E%3Ccircle cx='22' cy='75' r='2' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 45%;
  }
}

.categories__item-image--parts {
  background-image: url("data:image/svg+xml,%3Csvg width='56' height='55' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='28' cy='27.5' r='26.5' stroke='%23fff' stroke-width='2'/%3E%3Ccircle cx='28' cy='27.5' r='13.35' stroke='%23fff' stroke-width='2'/%3E%3Ccircle cx='8.27' cy='28.1' r='2.99' fill='%23fff'/%3E%3Ccircle cx='47.73' cy='28.1' r='2.99' fill='%23fff'/%3E%3Ccircle cx='43.54' cy='15.54' r='2.39' fill='%23fff'/%3E%3Ccircle cx='33.98' cy='8.37' r='2.39' fill='%23fff'/%3E%3Ccircle cx='22.02' cy='8.37' r='2.39' fill='%23fff'/%3E%3Ccircle cx='12.46' cy='15.54' r='2.39' fill='%23fff'/%3E%3Ccircle r='2.39' transform='matrix(-1 0 0 1 43.54 39.46)' fill='%23fff'/%3E%3Ccircle r='2.39' transform='matrix(-1 0 0 1 33.98 46.63)' fill='%23fff'/%3E%3Ccircle r='2.39' transform='matrix(-1 0 0 1 22.02 46.63)' fill='%23fff'/%3E%3Ccircle r='2.39' transform='matrix(-1 0 0 1 12.46 39.46)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 55%;
  }
}

.categories__item-image--electronic {
  background-image: url("data:image/svg+xml,%3Csvg width='62' height='49' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='2' d='M5 20h52v28H5z'/%3E%3Crect x='1' y='10' width='60' height='5' rx='2.5' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M7 2.5a2.5 2.5 0 015 0V6H7V2.5zM50 3a3 3 0 116 0v3h-6V3z' fill='%23fff'/%3E%3Crect x='42.74' y='28.09' width='1.79' height='11.35' rx='.9' fill='%23fff'/%3E%3Crect x='37.96' y='34.66' width='1.79' height='11.35' rx='.9' transform='rotate(-90 37.96 34.66)' fill='%23fff'/%3E%3Crect x='13' y='35' width='2' height='11' rx='1' transform='rotate(-90 13 35)' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 65%;
    background-image: url("data:image/svg+xml,%3Csvg width='39' height='31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='%23fff' stroke-width='1.86' d='M10.34 1.15h17.94v1.86H10.34z'/%3E%3Crect x='1.13' y='6.79' width='36.35' height='2.33' rx='1.16' stroke='%23fff' stroke-width='2'/%3E%3Cpath d='M4.46 1.77a1.55 1.55 0 113.1 0v2.17h-3.1V1.77zM31.06 2.08a1.86 1.86 0 113.71 0v1.86h-3.7V2.08z' fill='%23fff'/%3E%3Cpath stroke='%23fff' stroke-width='2' d='M3.61 12.98h31.4v16.56H3.61z'/%3E%3Crect x='8.18' y='21.88' width='1.24' height='6.8' rx='.62' transform='rotate(-90 8.18 21.88)' fill='%23fff'/%3E%3Crect x='26.57' y='17.6' width='1.11' height='7.02' rx='.55' fill='%23fff'/%3E%3Crect x='23.62' y='21.66' width='1.11' height='7.02' rx='.55' transform='rotate(-90 23.62 21.66)' fill='%23fff'/%3E%3C/svg%3E%0A");
  }
}

.categories__item-image--accessories {
  background-image: url("data:image/svg+xml,%3Csvg width='31' height='65' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M21.79 8V25.08c-.4 1.66-3.05 2.91-6.19 2.91-3.14 0-5.78-1.25-6.18-2.91V7.7c0-.1 0-.31.1-.42.5-1.24 3.04-2.18 6.18-2.18 3.15 0 5.8.9 5.94 2.18 0 0 .15.51.15.72z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M15.5 5.1c-.71 0-1.22-.63-1.22-1.25v-2.6C14.28.52 14.9 0 15.5 0c.71 0 1.22.62 1.22 1.25v2.6c0 .73-.51 1.25-1.22 1.25z' fill='%23fff'/%3E%3Cpath d='M14.28 1.98s-.4 2.18-3.75 3.22h4.97l-1.22-3.22zM16.72 1.98s.4 2.18 3.75 3.22H15.5l1.22-3.22z' fill='%23fff'/%3E%3Cpath d='M18.85 27.68h-6.7v3.44h6.7v-3.44z' fill='%23fff' fill-opacity='.7'/%3E%3Cpath d='M15.5 33.3c4.82 0 8.72-.56 8.72-1.25s-3.9-1.25-8.72-1.25-8.72.56-8.72 1.25c0 .7 3.9 1.25 8.72 1.25zM6.78 31.53v6.04M24.22 32.05v5.93M30 38.82c0 1.14-6.49 3.01-14.5 3.01S1 40.06 1 38.82c0-.42 3.35-2.19 5.78-2.19 1.62.42 6.29.83 8.72.83 2.43 0 7.2-.41 8.72-.83 2.54.1 5.78 1.77 5.78 2.19z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3Cpath d='M24.22 41.1v9.27c0 .93-3.95 1.66-8.72 1.66-4.77 0-8.72-.73-8.72-1.66V41.1M9.21 51.2v9.37M21.79 51.2v9.37M17.12 64h-3.24c-.71 0-1.32-.62-1.32-1.35V52.03h5.78v10.62c.1.73-.5 1.35-1.22 1.35z' stroke='%23fff' stroke-width='2' stroke-miterlimit='10'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (max-width: $mobile-width) {
    background-size: 34%;
  }
}

.categories__item-link {
  position: absolute;
  bottom: 20px;
  left: 20px;
  font-size: 20px;
  line-height: 24px;
  color: #C4C4C4;
  z-index: 1;
}
