.footer {
  background: #f4f4f6;
  overflow: hidden;

  @media (max-width: $mobile-width) {
    background: #f9f9fc;
  }
}

.footer div ul {
  list-style: none;
}

.footer__wrapper {
  position: relative;
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 30px;
  padding-bottom: 20px;

  @media (max-width: $tablet-width) {
    flex-direction: column;
    width: 100%;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 330px;
  }
}

.footer__wrapper span {
  position: absolute;
  display: block;
  left: 0;
  bottom: 5px;
  font-size: 12px;
  line-height: 14px;
  color: #a5a5a5;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 17px;
    text-align: center;
    left: 50%;
    margin-left: -100px;
  }

  @media (max-width: $mobile-width) {
    margin-left: -140px;
    font-size: 14px;
  }
}

.footer__block1 {
  width: 292px;
  margin-right: 205px;
  box-sizing: border-box;
  display: block;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    text-align: center;
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
  }
}

.footer__block1 h2 {
  display: block;
  font-style: normal;
  width: 240px;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.5px;
  color: #48494d;
  margin-bottom: 34px;

  @media (max-width: $tablet-width) {
    width: auto;
  }

  @media (max-width: $mobile-width) {
    margin-top: 10px;
    margin-bottom: 28px;
    padding-right: 25px;
    width: auto;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #48494d;
  }
}

.footer__input {
  position: relative;
  margin-bottom: 27px;
}

.footer__input-textarea {
  height: 33px;
  width: 162px;
  border: none;
  background-color: #ffffff;
  font-size: 14px;
  line-height: 17px;
  color: #a5a5a5;
  padding-left: 12px;
  padding-right: 10px;

  @media (max-width: $tablet-width) {
    width: 282px;
    margin-left: -100px;
  }

  @media (max-width: $mobile-width) {
    width: 160px;
    margin-left: -150px;
  }
}

.footer__input-submit {
  position: absolute;
  width: 109px;
  height: 33px;
  border: none;
  background-color: #ff7931;
  font-weight: 600;
  font-size: 11px;
  line-height: 13px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #ffffff;
  cursor: pointer;

  &:hover {
    background-color: #f55600;
    font-size: 12px;
    transition: 0.3s ease-in;
  }
}

.footer__block1 span {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.5px;
  color: #a5a5a5;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.footer__block2 {
  box-sizing: border-box;
  display: flex;
  font-size: 15px;
  line-height: 17px;
  font-weight: bold;
  padding-top: 12px;

  @media (max-width: $tablet-width) {
    width: 100%;
    overflow: hidden;
    flex-direction: column;
    color: #7f7f7f;
    font-size: 25px;
    font-weight: normal;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}

.footer__block2-list {
  position: relative;
  padding: 5px 0 0 10px;
  margin: 0;
  font-weight: normal;
  letter-spacing: 0.5px;

  @media (max-width: $tablet-width) {
    display: none;
    padding-top: 35px;
  }

  &--store-left {
    display: block;
    width: 165px;
    margin-right: 35px;

    @media (max-width: $tablet-width) {
      display: none;
      width: 100%;
    }

    &::after {
      @media (max-width: $tablet-width) {
        position: absolute;
        display: block;
        content: "";
        top: -8px;
        left: 68.1%;
        width: 14px;
        height: 8px;
        background-color: #f4f4f6;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%237f7f7f'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        cursor: pointer;
        transform: rotate(180deg);
        z-index: 2;
      }

      @media (max-width: $mobile-width) {
        top: -13px;
        left: 85%;
      }
    }
  }

  &--store-right {
    display: block;
    width: 185px;

    @media (max-width: $tablet-width) {
      width: 100%;
      display: none;
      padding-top: 0;
    }
  }

  &--store-open {
    display: block;
  }

  &--info {
    &::after {
      @media (max-width: $tablet-width) {
        position: absolute;
        display: block;
        content: "";
        top: -15px;
        left: 68.8%;
        width: 14px;
        height: 8px;
        background-color: #f4f4f6;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%237f7f7f'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        cursor: pointer;
        transform: rotate(180deg);
        z-index: 2;
      }

      @media (max-width: $mobile-width) {
        top: -17px;
        left: 88%;
      }
    }
  }

  &--info-open {
    display: block;
  }

  &--service {
    &::after {
      @media (max-width: $tablet-width) {
        position: absolute;
        display: block;
        content: "";
        top: -9px;
        left: 68.8%;
        width: 14px;
        height: 8px;
        background-color: #f4f4f6;
        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%237f7f7f'/%3E%3C/svg%3E%0A");
        background-repeat: no-repeat;
        cursor: pointer;
        transform: rotate(180deg);
        z-index: 2;
      }

      @media (max-width: $mobile-width) {
        top: -15px;
        left: 88%;
      }
    }
  }

  &--service-open {
    display: block;
  }
}

.footer__info {
  display: block;
  margin-right: 20px;
  width: 130px;

  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 15%;
    line-height: 25px;
    cursor: pointer;
    border-top: 1px solid #d6d6d6;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 12px 0 12px 0;
    margin-left: 0;
  }
}

.footer__info h3,
.footer__service h3,
.footer__store h3 {
  margin: 0;
  font-size: 15px;
  padding-left: 10px;

  @media (max-width: $tablet-width) {
    font-size: 25px;
    font-weight: normal;
  }

  @media (max-width: $mobile-width) {
    font-size: 15px;
  }
}

.footer__service {
  position: relative;
  margin-right: 45px;
  width: 165px;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding: 20px 0 20px 15%;
    cursor: pointer;
    border-top: 1px solid #d6d6d6;
    margin-right: 0;
  }

  @media (max-width: $mobile-width) {
    padding: 17px 0 14px 0;
    margin-left: 0;
  }
}

.footer__store {
  @media (max-width: $tablet-width) {
    position: relative;
    width: 100%;
    padding: 20px 0 20px 15%;
    cursor: pointer;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
  }

  @media (max-width: $mobile-width) {
    padding: 16px 0 15px 0;
    margin-left: 0;
  }
}

.footer__info::after,
.footer__service::after,
.footer__store::after {
  display: none;

  @media (max-width: $tablet-width) {
    position: absolute;
    display: block;
    content: "";
    top: 30px;
    left: 73%;
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%237f7f7f'/%3E%3C/svg%3E%0A");
    cursor: pointer;
  }

  @media (max-width: $mobile-width) {
    top: 20px;
    left: 88%;
  }
}


.footer__block2-list li a:hover {
  color: #ff7931;
}

.footer__store-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    display: block;
    width: 100%;
  }
}


.footer__block2-list li {
  margin-bottom: 5px;
}

.footer__block2-list a {
  text-decoration: none;
  color: #48494d;
  font-size: 14px;

  @media (max-width: $tablet-width) {
    width: fit-content;
    display: block;
    font-size: 18px;
    padding-bottom: 10px;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
  }
}
