.info {
  margin-bottom: 86px;

  @media (max-width: $mobile-width) {
    position: relative;
    margin-bottom: 60px;
  }
}

.info__nav {
  display: flex;
  box-sizing: border-box;
  justify-content: space-around;
  width: 100%;
  height: 70px;
  background-color: #F4F4F6;
  align-items: center;
  text-align: center;
  margin-bottom: 52px;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    flex-direction: column;
    justify-content: space-between;
    height: auto;
    text-align: start;
    margin-left: -15px;
    background-color: transparent;
  }
}

.info__nav-item {
  display: block;
  text-align: center;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.6);

  @media (max-width: $tablet-width) {
    font-size: 16px;
  }

  @media (max-width: $mobile-width) {
    position: relative;
    text-align: start;
    width: 100%;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 24px;
    padding: 18px 0 15px 14px;
    margin: 0 auto 20px 0;
    background-color: #F9F9FC;
  }

  &--active {
    color: #000;
    border-bottom: 2px solid #FF7931;
    text-shadow: 1px 0 0 #48494D;
    cursor: pointer;

    @media (max-width: $mobile-width) {
      border: none;
      background-color: transparent;
    }

    &::after {
      transform: rotate(180deg);
    }
  }

  &--takeout-active {
    @media (max-width: $mobile-width) {
      margin-bottom: 1090px;
    }
  }

  &::after {
    display: none;

      @media (max-width: $mobile-width) {
      position: absolute;
      display: block;
      content: "";
      top: 25px;
      right: 25px;
      width: 12px;
      height: 8px;
      background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%23D7D9DF'/%3E%3C/svg%3E%0A");
    }
  }
}

.info__nav-item:hover {
  color: #000;
  border-bottom: 2px solid #FF7931;
  text-shadow: 1px 0 0 #48494D;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    border: none;
    opacity: 0.5;
  }
}

.info__search {
  display: none;

  @media (max-width: $mobile-width) {
    width: 330px;
  }

  &--takeout {
    @media (max-width: $mobile-width) {
      position: absolute;
      top: 285px
    }
  }
}

.info__search-form {
  display: flex;
  padding-left: 40px;
  margin-bottom: 50px;
  font-size: 17px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.7);
  letter-spacing: 0.6px;

  
  @media (max-width: $mobile-width) {
    font-size: 15px;
    padding-left: 0;
    flex-direction: column;
    margin-bottom: 10px;
  }
}

.info__search-text {
  display: block;
  padding-top: 6px;
  margin-right: 10px;

  @media (max-width: $mobile-width) {
    margin-bottom: 16px;
    margin-right: 0;
  }
}

.info__search-textarea {
  position: relative;
  margin-right: 175px;

  @media (max-width: $tablet-width) {
    margin-right: 75px;
  }
}

.info__search-textarea input {
  display: block;
  width: 253px;
  height: 30px;
  padding: 0 50px 0 10px;
  background-color: #F4F4F6;
  border-radius: 50px;
  border: none;

  @media (max-width: $mobile-width) {
    background-color: transparent;
    border-radius: 0;
    width: 288px;
    height: 35px;
    box-sizing: border-box;
    border: 1px solid #E0E0E0;
    padding: 0 20px;
    margin-bottom: 25px;
  }
}

.info__search-textarea input::placeholder {
  color: #F4F4F6;

  @media (max-width: $mobile-width) {
    color: #BDBEC2;
    font-size: 15px;
  }
}

.info__search-radio-wrapper {
  display: flex;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.info__search-submit {
  position: absolute;
  top: 5px;
  right: 13px;
  display: block;
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.17 12.56A6.22 6.22 0 010 6.28 6.22 6.22 0 016.17 0c3.4 0 6.16 2.81 6.16 6.28 0 1.49-.5 2.86-1.36 3.94l4.83 4.92c.27.26.27.7 0 .96a.66.66 0 01-.94 0l-4.83-4.92a6.07 6.07 0 01-3.86 1.38zm0-1.36C8.84 11.2 11 9 11 6.28a4.88 4.88 0 00-4.83-4.92 4.88 4.88 0 00-4.84 4.92 4.88 4.88 0 004.84 4.92z' fill='%23C4C4C4'/%3E%3C/svg%3E%0A");
  width: 16px;
  height: 15px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.info__search-radio {
  position: relative;
  display: block;
  padding-top: 5px;

  &--1 {
    margin-right: 60px;

    @media (max-width: $tablet-width) {
      margin-right: 0;
    }

    @media (max-width: $tablet-width) {
      margin-right: 30px;
      margin-left: -10px;
      padding-bottom: 4px;
      margin-bottom: 10px;
      border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
    }
  }
}

.info__custom-checkbox {
  position: absolute;
  content: "";
  left: -20px;
  top: 7px;
  width: 12px;
  height: 12px;
  border: 1px solid #CDCDCD;

  @media (max-width: $mobile-width) {
   left: 285px;
  }
}

.info__search-input {
  appearance: none;
}

.info__search-input:checked + .info__custom-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.67.25H2.33v1.5h9.34V.25zm-9.34 0C1.2.25.25 1.19.25 2.33h1.5c0-.32.26-.58.58-.58V.25zM.25 2.33v9.34h1.5V2.33H.25zm0 9.34c0 1.14.94 2.08 2.08 2.08v-1.5a.59.59 0 01-.58-.58H.25zm2.08 2.08h9.34v-1.5H2.33v1.5zm9.34 0c1.14 0 2.08-.94 2.08-2.08h-1.5c0 .32-.26.58-.58.58v1.5zm2.08-2.08V2.33h-1.5v9.34h1.5zm0-9.34c0-1.14-.94-2.08-2.08-2.08v1.5c.32 0 .58.26.58.58h1.5z' fill='%23FF7931'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.67 3.57H4.33a.76.76 0 00-.76.76v5.34c0 .42.34.76.76.76h5.34c.42 0 .76-.34.76-.76V4.33a.76.76 0 00-.76-.76z' fill='%23FF7931'/%3E%3Cpath d='M9.67 2.82H4.33v1.5h5.34v-1.5zm-5.34 0c-.83 0-1.5.68-1.5 1.51h1.5v-1.5zm-1.5 1.51v5.34h1.5V4.33h-1.5zm0 5.34c0 .83.67 1.5 1.5 1.5v-1.5h-1.5zm1.5 1.5h5.34v-1.5H4.33v1.5zm5.34 0c.83 0 1.5-.67 1.5-1.5h-1.5v1.5zm1.5-1.5V4.33h-1.5v5.34h1.5zm0-5.34c0-.83-.67-1.5-1.5-1.5v1.5h1.5z' fill='%23FF7931'/%3E%3C/svg%3E%0A");
  background-position: center;
  width: 12px;
  height: 12px;
}

.info__table {
  padding-left: 38px;
  box-sizing: border-box;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.6px;
  color: rgba(0, 0, 0, 0.7);
  margin: 0;

  @media (max-width: $tablet-width) {
    padding-left: 0;
  }
}


.info__table-row {
  display: flex;
  margin-bottom: 18px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 30px;
    margin-bottom: 22px;
  }

  &--desktop {
    @media (max-width: $tablet-width) {
      display: none;
    }
  }
}

.info__table-header {
  display: flex;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  margin-bottom: 15px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.info__table-adress {
  width: 215px;
  margin-right: 84px;
  margin-bottom: 20px;

  @media (max-width: $tablet-width) {
    width: auto;
    font-size: 19px;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    line-height: 150%;
    width: 250px;
    margin-right: 0;
    margin-bottom: 7px;
  }
}

.info__table-regime {
  display: inline-block;
  justify-content: space-between;
  width: 152px;
  margin-right: 100px;

  @media (max-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (max-width: $mobile-width) {
    margin-left: -15px;
  }
}

.info__table-regime span {
  display: inline-block;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 15px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 10px;
  }
}

.info__cell-time {
  float: right;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 19px;
    box-sizing: border-box;
    margin: 0 0 20px auto;
    margin-left: 580px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 140px;
    padding-left: 0;
  }
}

.info__table-availability {
  width: 150px;
  margin-right: 55px;

  @media (max-width: $tablet-width) {
    font-size: 19px;
    width: auto;
    margin-bottom: 20px;
  }
  
  @media (max-width: $mobile-width) {
    font-size: 15px;
    margin-bottom: 7px;
  }
}

.info__table-availability span {
  @media (max-width: $mobile-width) {
    margin-bottom: 3px;
  }
}

.info__table-quantity {
  width: 150px;
  margin-right: 80px;

  @media (max-width: $tablet-width) {
    font-size: 19px;
    width: auto;
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-width) {
    font-size: 15px;
    margin-bottom: 17px;
  }
}

.info__table-quantity span {
  @media (max-width: $mobile-width) {
    margin-bottom: 3px;
  }
}

.info__table-button {
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1.5px;
  width: 60px;
  padding: 10px 41px 9px 41px;
  margin-top: 2px;
  text-decoration: none;

  @media (max-width: $tablet-width) {
    font-size: 19px;
    width: auto;
    padding: 13px 55px 13px;
  }

  @media (max-width: $mobile-width) {
    font-size: 13px;
    line-height: 17px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.12em;
    width: 388px;
    height: 50px;
    box-sizing: border-box;
    padding: 17px 113px;
    border-radius: 0;
    margin-bottom: 0;
  }
}

.info__cell-header {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-weight: bold;
    font-size: 19px;
    width: 100%;
    margin-bottom: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 15px;
    padding-top: 2px;
    margin-bottom: 10px;
  }
}

.info__link {
  position: relative;
  display: none;
  font-size: 19px;
  color: #FF7931;

  @media (max-width: $tablet-width) {
    display: block;
  }

  @media (max-width: $mobile-width) {
    font-size: 16px;
    letter-spacing: 0.5px;
  }

  &::after {
    position: absolute;
    display: block;
    content: "";
    top: 10px;
    left: 255px;
    width: 12px;
    height: 8px;
    background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%23FF7931'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;

    @media (max-width: $mobile-width) {
      left: 216px;
      top: 5px;
    }
  }
}

.info__table-notice {
  display: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #000000;
  opacity: 0.5;
  width: 250px;
  margin-left: 20px;
  margin-bottom: 30px;


  @media (max-width: $mobile-width) {
    display: block;
  }
}
