.popular {
  margin-bottom: 150px;

  @media (max-width: $tablet-width) {
    margin-bottom: 200px;
	}
}

.popular h2 {
  font-size: 26px;
  line-height: 30px;
  font-weight: bold;
  padding-left: 15px;
}

.popular__categories-list {
  position: relative;
  padding: 0;
  list-style: none;
  display: flex;
  padding-left: 15px;
  margin-bottom: 0;

  @media (max-width: $mobile-width) {
    margin-bottom: 5px;
  }

  &::after {
    @media (max-width: $mobile-width) {
      position: absolute;
      display: block;
      content: "";
      right: 0;
      top: 0;
      width: 75px;
      height: 30px;
      background: linear-gradient(90deg, rgba(255,255,255,0) 8%, rgba(255,255,255,0.8832575266434699) 37%, rgba(255,255,255,1) 95%);;
      z-index: 5;
    }
  }
}

.popular__categories-button {
  background-color: transparent;
  border: none;
  font-size: 15px;
  line-height: 19px;
  letter-spacing: 0.5px;
  text-align: center;
  color: #48494D;
  margin: 0 25px 10px 0;
  border-bottom: 2px solid #fff;
  padding-bottom: 10px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
		margin-right: 12px;
  }

  @media (max-width: $mobile-width) {
		margin-right: 25px;
  }
  
  &--active {
    text-shadow: 1px 0 0 #48494D;
    border-bottom: 2px solid #FF7931;
    border-right: none;
    border-left: none;
  }
}

.popular__categories-button:hover {
  text-shadow: 1px 0 0 #48494D;
  border-bottom: 2px solid #FF7931;
  border-right: none;
  border-left: none;
}

.popular__products {
  position: relative;
  margin-bottom: 120px;

  @media (max-width: $mobile-width) {
		padding-left: 13px;
  }
}

.popular__products-name {
  position: absolute;
  display: block;
  width: 100%;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.5px;
  bottom: 85px;
  color: #48494D;

  &--2 {
    width: 250px;
    bottom: 88px;
    left: 10px;
  }

  &--4 {
    bottom: 100px;
    left: 5px;
  }
}

.popular__products-hover {
  position: absolute;
  display: none;
  width: 230px;
  height: 43px;
  padding-top: 17px;
  left: 20px;
  top: 122px;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.8px;
  color: #5F6063;
  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

.popular__products-button {
  position: absolute;
  font-size: 0;
  top: 184px;
  background: url('../../img/svg/icon-arrow.svg') 50% 50% / 60% no-repeat;
	width: 35px;
	height: 35px;
	background-color: transparent;
  border: 1px solid #fff;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  
  &--left {
    transform: rotate(-180deg);
    left: -65px;
  }

  &--right {
    right: -65px;
  }

  &:hover {
    background-image: url('../../img/svg/icon-arrow-hover.svg') 50% 50% / 60% no-repeat;
    background-color: #D7D9DF;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }

  &--right:hover {
    transform: rotate(0deg);
  }
}

.popular__products-more,
.popular__products-more-mobile {
  position: absolute;
  display: block;
  width: 252px;
  height: 50px;
  padding-top: 17px;
  left: 50%;
  margin-left: -125px;
  bottom: -72px;
  background-color: #F0F0F4;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #BDBEC2;
  text-decoration: none;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    bottom: -130px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.popular__products-more-mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
    bottom: -111px;
    margin-left: -143px;
  }
}
