.product {
  display: flex;
  margin-bottom: 78px;

  @media (max-width: $mobile-width) {
    position: relative;
    margin-bottom: 40px;
  }
}

.product__photo {
  position: relative;
  height: 585px;
  width: 505px;
  margin-top: 5px;
  margin-right: 130px;

  @media (max-width: $tablet-width) {
    margin-right: 45px;
  }

  @media (max-width: $mobile-width) {
    height: 511px;
  }
}

.product__photo-sale {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.12em;
  padding: 14px 28px;
  text-align: center;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__photo-gift,
.product__photo-term {
  position: absolute;
  top: 53px;
  left: 0;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: #a8a8a8;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__photo-term {
  top: 105px;
}

.product__photo-price {
  position: absolute;
  top: 135px;
  left: 0;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #a8a8a8;
  font-weight: bold;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__photo-image {
  display: block;
  margin: 45px auto auto 164px;

  @media (max-width: $tablet-width) {
    margin-left: 110px;
  }

  @media (max-width: $mobile-width) {
    margin: 135px auto auto 90px;
    width: 111px;
    height: 190px;
  }
}

.product__photo-old-price {
  position: absolute;
  bottom: 93px;
  left: 228px;
  font-size: 30px;
  line-height: 36px;
  color: #48494d;

  @media (max-width: $tablet-width) {
    font-size: 25px;
    left: 150px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }

  &::after {
    position: absolute;
    content: "";
    width: 135px;
    transform: rotate(-8deg);
    border-bottom: 1px solid #48494d;
    top: 19px;
    right: -19px;

    @media (max-width: $tablet-width) {
      width: 100px;
      right: -10px;
    }

    @media (max-width: $mobile-width) {
      display: none;
    }
  }
}

.product__photo-new-price {
  position: absolute;
  bottom: 40px;
  left: 200px;
  font-size: 40px;
  line-height: 48px;
  font-weight: bold;
  color: #48494d;

  @media (max-width: $tablet-width) {
    font-size: 30px;
    left: 140px;
  }

  @media (max-width: $mobile-width) {
    bottom: 120px;
    left: 87px;
    font-size: 35px;
    line-height: 42px;
  }
}

.product__photo-link {
  position: absolute;
  left: 170px;
  bottom: 2px;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  color: #ff7931;
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 121, 49, 0.2);

  @media (max-width: $tablet-width) {
    left: 90px;
  }

  @media (max-width: $mobile-width) {
    left: 35px;
  }
}

.product__photo-snowflake {
  position: absolute;
  right: 0;
  top: 0;

  @media (max-width: $mobile-width) {
    top: 120px;
    right: 5px;
    width: 28px;
    height: 30px;
  }
}

.product__discription {
  box-sizing: border-box;

  @media (max-width: $mobile-width) {
    position: absolute;
  }
}

.product__discription-header {
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #48494d;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  letter-spacing: 0.5px;

  @media (max-width: $tablet-width) {
    font-size: 25px;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 150%;
    display: block;
    width: 288px;
  }
}

.product__discription-code {
  margin-top: 7px;
  margin-bottom: 22px;

  @media (max-width: $mobile-width) {
    margin-top: 15px;
  }
}

.product__discription-icons {
  display: flex;
  margin-bottom: 50px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__icon {
  display: block;
  margin-right: 27px;
}

.product__stars {
  display: flex;
  justify-content: space-between;
  transform: rotateY(180deg);
}

.product__stars input {
  display: none;
}

.product__stars label {
  position: relative;
  display: block;
  padding-top: 2px;
  margin-right: 7px;
  cursor: pointer;
  width: 23px;
  height: 23px;
}

.product__stars label::before {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.11 0l2.6 7.95h8.38l-6.79 4.9 2.6 7.95-6.79-4.9-6.78 4.9 2.6-7.94L.13 7.95h8.38L11.12 0z' fill='%23E2E2E2'/%3E%3C/svg%3E%0A");
}

.product__stars label::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 23px;
  top: 0;
  left: 0;
  background-image: url("data:image/svg+xml,%3Csvg width='23' height='21' viewBox='0 0 23 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.7125 0L14.3029 7.9463H22.6854L15.9038 12.8574L18.4941 20.8037L11.7125 15.8926L4.93098 20.8037L7.52131 12.8574L0.739735 7.9463H9.12222L11.7125 0Z' fill='%23FF7931'/%3E%3C/svg%3E%0A");
  opacity: 0;
  transition: 0.5s;
}

.product__stars label:hover::after,
.product__stars label:hover ~ label::after,
.product__stars input:checked ~ label::after {
  opacity: 1;
}

.product__stars svg {
  padding-top: 2px;
  margin-right: 7px;
}

.product__discription-main {
  display: flex;
  margin-bottom: 5px;
}

.product__discription-tabs {
  display: flex;
  padding-left: 0;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__tab {
  display: block;
  font-size: 21px;
  line-height: 24px;
  letter-spacing: 0.5px;
  color: #48494d;
  margin-right: 25px;
  padding-bottom: 3px;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    margin-right: 15px;
  }

  &--active {
    text-shadow: 1px 0 0 #48494d;
    border-bottom: 2px solid #ff7931;
  }
}

.product__discription-table {
  font-size: 21px;
  line-height: 22px;
  letter-spacing: 0.5px;
  color: #48494d;
  box-sizing: border-box;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 20px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__discription-table tr {
  display: flex;
  text-align: start;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.product__discription-table tr td {
  display: block;
  text-align: start;
  padding: 16px 3px 0 2px;
}

.product__table-column1 {
  width: 305px;

  @media (max-width: $tablet-width) {
    width: 250px;
  }
}

.product__characteristic {
  display: none;
}

.product__characteristic-text {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 292px;

  @media (max-width: $tablet-width) {
    width: 377px;
    margin-bottom: 283px;
  }
}

.product__discription-link {
  display: block;
  width: 92px;
  font-family: "Proxima Nova", "Arial", sans-serif;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: rgb(255, 121, 49);
  text-decoration: none;
  border-bottom: 2px solid rgba(255, 121, 49, 0.2);
  margin-bottom: 55px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.product__discription-buy {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-weight: bold;
  font-size: 13px;
  line-height: 17px;
  text-align: center;
  text-decoration: none;
  letter-spacing: 2.3px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 19px 28px 17px 28px;

  @media (max-width: $mobile-width) {
    position: absolute;
    width: 288px;
    height: 50px;
    top: 420px;
    left: 0;
    box-sizing: border-box;
  }
}
