.search {
  display: flex;
  position: relative;

  @media (max-width: $tablet-width) {
    height: 2000px;
  }

  @media (max-width: $mobile-width) {
    height: 2382px;
  }
}

.search__filter {
  display: block;
  width: 280px;
  margin-right: 20px;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.search__filter.active {
  display: block;
  position: absolute;
  top: -355px;
  overflow-y: auto;
  padding-top: 40px;
  padding-left: 5px;
  width: 100%;
  height: 99vh;
  background-color: #ffffff;
  z-index: 11;
}

.search__header-wrapper {
  margin: 0;
  padding: 0;
}

.search__result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 875px;
  height: 1705px;
  margin-bottom: 205px;

  @media (max-width: $tablet-width) {
    position: absolute;
    top: -250px;
    width: 600px;
    left: 250px;
    transform: scale(0.7);
  }

  @media (max-width: $mobile-width) {
    position: relative;
    transform: scale(1);
    top: 0;
    left: 0;
    padding-left: 9px;
  }
}

.search__result .card:not(:nth-child(-n+5)) {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.search__result .card {
  margin-bottom: 30px;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }
}

.search__result-list {
  position: absolute;
  bottom: 82px;
  left: 50%;
  margin-left: -65px;
  display: flex;
  justify-content: space-between;
  list-style: none;

  @media (max-width: $tablet-width) {
    margin-left: -30px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    left: -12%;
    bottom: 64px;
  }
}

.search__list-link {
  display: block;
  padding: 7px 15px;
  font-size: 18px;
  line-height: 22px;
  color: #A8A8A8;
  text-decoration: none;
  text-align: center;
  margin: 0 6px;

  @media (max-width: $mobile-width) {
    padding: 7px 10px;
  }

  &--active {
    border: 2px solid #FF7931;
    box-sizing: border-box;
    color: #FF7931;
    font-weight: bold;
    margin-right: 22px;

    @media (max-width: $mobile-width) {
      padding: 7px 15px;
      margin-right: 15px;
    }
  }

    &--dots {
      margin: 0;
      padding-left: 5px;
      padding-right: 5px;
  }
}

.search__filter-header {
  display: flex;
  margin-bottom: 10px;
  list-style: none;
  padding-left: 0;

  
  @media (max-width: $mobile-width) {
    margin-bottom: 32px;
    width: fit-content;
    border: 1px solid #E0E0E0;
    box-sizing: border-box;
  }
}

.search__header-input {
  appearance: none;
}

.search__header-item {
  display: block;
  margin: 0 30px 10px 0;
  padding: 0 0 7px 0;
  color: #48494D;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  opacity: 0.5;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-right: 20px;
  }

  @media (max-width: $mobile-width) {
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin: 0;
    padding: 7px 23px;
    text-transform: inherit;
    color: #48494D;
    opacity: 1;
    font-weight: bold;
  }

  &--active {
    opacity: 1;
    font-weight: bold;
    border-bottom:  2px solid #FF7931;

    @media (max-width: $mobile-width) {
      border-bottom: none;
      background-color: #FF7931;
      color: #ffffff;
    }
  }
}

.search__header-item--active {
  opacity: 1;
  font-weight: bold;
  border-bottom:  2px solid #FF7931;
}

.search__filter-wrapper {
  display: none;
}

.search__filter-season {
  position: relative;
  display: flex;
  margin-bottom: 18px;
}

.search__season-label {
  position: relative;
  display: block;
  margin-left: 17px;
  color: #48494D;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.search__season-arrow,
.search__filter-price::before,
.search__filter-brand::before,
.search__filter-model::before,
.search__filter-country::before {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  left: -20px;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%23D7D9DF'/%3E%3C/svg%3E%0A");
}

.search__season-checkbox {
  appearance: none;
}

.search__season-checkbox:checked + .wrapper {
  display: block;
}

.search__season-checkbox-opened,
.search__type-checkbox {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.search__season-checkbox-opened {
  position: absolute;
  display: flex;
  font-weight: normal;

  &--winter {
    top: 41px;
    left: 2px;
  }

  &--summer {
    top: 41px;
    left: 140px;
  }
}

.search__season-wrapper {
  display: none;
}

.search__season-wrapper::before,
.search__accordion-wrapper::before,
.search__brand-wrapper::before,
.search__model-wrapper::before,
.search__country-wrapper::before {
  position: absolute;
  display: block;
  content: "";
  top: 5px;
  left: -20px;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%23D7D9DF'/%3E%3C/svg%3E%0A");
  transform: rotate(180deg);
  background-color: #fff;
  z-index: 2;
}

.search__brand-wrapper::before,
.search__model-wrapper::before,
.search__country-wrapper::before {
  left: 0;
}

.search__season-checkbox:checked + .search__season-wrapper {
  display: block;
  margin-bottom: 30px;
}

.search__custom-checkbox {
  position: absolute;
  content: "";
  left: -20px;
  top: 1px;
  width: 12px;
  height: 12px;
  border: 1px solid #CDCDCD;
}

.search__season-radio-1 {
  appearance: none;
}

.search__season-radio-1:checked + .search__custom-checkbox,
.search__type-radio-1:checked + .search__custom-checkbox {
  background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.67.25H2.33v1.5h9.34V.25zm-9.34 0C1.2.25.25 1.19.25 2.33h1.5c0-.32.26-.58.58-.58V.25zM.25 2.33v9.34h1.5V2.33H.25zm0 9.34c0 1.14.94 2.08 2.08 2.08v-1.5a.59.59 0 01-.58-.58H.25zm2.08 2.08h9.34v-1.5H2.33v1.5zm9.34 0c1.14 0 2.08-.94 2.08-2.08h-1.5c0 .32-.26.58-.58.58v1.5zm2.08-2.08V2.33h-1.5v9.34h1.5zm0-9.34c0-1.14-.94-2.08-2.08-2.08v1.5c.32 0 .58.26.58.58h1.5z' fill='%23FF7931'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.67 3.57H4.33a.76.76 0 00-.76.76v5.34c0 .42.34.76.76.76h5.34c.42 0 .76-.34.76-.76V4.33a.76.76 0 00-.76-.76z' fill='%23FF7931'/%3E%3Cpath d='M9.67 2.82H4.33v1.5h5.34v-1.5zm-5.34 0c-.83 0-1.5.68-1.5 1.51h1.5v-1.5zm-1.5 1.51v5.34h1.5V4.33h-1.5zm0 5.34c0 .83.67 1.5 1.5 1.5v-1.5h-1.5zm1.5 1.5h5.34v-1.5H4.33v1.5zm5.34 0c.83 0 1.5-.67 1.5-1.5h-1.5v1.5zm1.5-1.5V4.33h-1.5v5.34h1.5zm0-5.34c0-.83-.67-1.5-1.5-1.5v1.5h1.5z' fill='%23FF7931'/%3E%3C/svg%3E%0A");
  background-position: center;
  width: 12px;
  height: 12px;
}

.search__info {
  position: absolute;
  display: block;
  color: #fff;
  box-sizing: border-box;
  width: 17px;
  height: 17px;
  background-color: #D7D9DF;
  border-radius: 50%;
  text-align: center;
  left: 69px;
  bottom: 1px;

  &--type1 {
    left: 106px;
  }

  &--type2 {
    left: 130px;
  }

  &--diameter {
    top: -1px;
    left: 85px;
    font-size: 13px;
  }

  &--width {
    left: 80px;
    top: 0;
    font-size: 13px;
  }

  &--technology {
    left: 105px;
    top: 0;
    font-size: 12px;
  }

  &--mark {
    left: 4px;
    bottom: 5px;
  }
}

.search__filter-type {
  position: relative;
  display: block;
  height: 115px;
  cursor: pointer;
}

.search__filter-type h3 {
  margin: 0;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #48494D;
}

.search__type-checkbox {
  position: absolute;
  letter-spacing: 0.6px;

  &--all {
    top: 35px;
    left: 20px;
  }

  &--studded {
    top: 35px;
    left: 158px;

    @media (max-width: $tablet-width) {
      left: 140px;
    }
  }

  &--unstudded {
    top: 69px;
    left: 20px;
  }
}

.search__type-checkbox input {
  appearance: none;
}

.search__price {
  margin-bottom: 40px;
}

.search__filter-price {
  position: relative;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #48494D;
  margin-left: 18px;
  cursor: pointer;
}

.search__filter-price input {
  appearance: none;
}

.search__accordion-wrapper {
  display: none;
  border: none;
}

.search__price-checkbox:checked + .search__accordion-wrapper {
  display: block;
}

.search__accordion-wrapper span {
  font-size: 14px;
  line-height: 17px;
  color: rgba(0, 0, 0, 0.5);
}

.search__price-rangebar {
  position: absolute;
  display: block;
  height: 2px;
  width: 270px;
  background-color: #E0E0E0;
  top: 41px;
  left: -15px;
}

.search__pin {
  position: absolute;
  display: block;
  height: 7px;
  width: 7px;
  border-radius: 50%;
  background-color: #FF7931;
  top: -3.5px;
  left: 25px;

  &--max {
    left: 114px;
  }
}

.search__priceline {
  position: absolute;
  display: block;
  height: 3px;
  width: 95px;
  background-color: #FF7931;
  top: -1px;
  left: 25px;
}

.search__price-value {
  position: absolute;
  display: flex;
  top: 62px;


  &--min {
    left: -18px;
  }

  &--max {
    left: 166px;
  }
}

.search__price-value span {
  margin-right: 5px;
}

.search__price-value input {
  display: block;
  width: 55px;
  text-align: center;
  border: none;
  border-bottom: 1px solid #E0E0E0;
  font-size: 14px;
  line-height: 17px;
  color: #000;
}

.search__filter-diameter,
.search__filter-profile,
.search__filter-width {
  position: relative;
  display: flex;
  padding-bottom: 7px;
  border-bottom: 2px solid #E0E0E0;
  margin-right: 5px;
  margin-bottom: 30px;
}

.search__filter-diameter h3,
.search__filter-profile h3,
.search__filter-width h3,
.search__brand-checkbox,
.search__model-label,
.search__country-label {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #48494D;
  letter-spacing: 0.8px;
}

.search__filter-select {
  position: absolute;
  display: block;
  border: 3px solid #fff;
  padding: 0;
  background-color: transparent;
  right: -3px;

  &--profile {
    padding-right: 10px;
  }

  &--width {
    padding-right: 10px;
  }
}

.search__filter-brand,
.search__filter-model {
  position: relative;
  margin-top: 0;
  margin-bottom: 30px;
}

.search__filter-brand::before,
.search__filter-model::before,
.search__filter-country::before {
  left: 0;
}

.search__filter-brand-input,
.search__model-checkbox,
.search__techology-checkbox,
.search__promo-checkbox,
.search__country-checkbox,
.search__radial-checkbox {
  appearance: none;
  position: absolute;
}

.search__brand-checkbox,
.search__model-label,
.search__country-label {
  display: block;
  margin-left: 25px;
  margin-bottom: 18px;
}

.search__textarea-wrapper {
  margin-bottom: 20px;
}

.search__brand-textarea {
  display: block;
  width: 252px;
  height: 30px;
  padding: 0 20px 0 20px;
  border: 1px solid #E0E0E0;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 14px;
  color: #BDBEC2;
}

.search__brand-textarea::placeholder {
  color: #BDBEC2;
}

.search__brand-checkbox-wrapper,
.search__model-label-wrapper,
.search__country-wrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  padding-right: 25px;
}

.search__brand-checkbox-wrapper label input,
.search__model-wrapper label input,
.search__mark-label input {
  appearance: none;
}

.search__label {
  position: relative;
  display: block;
  width: 100px;
  margin-right: 1px;
  margin-left: 10px;
  margin-bottom: 15px;
}

.search__custom-checkbox--2 {
  left: -20px;
  top: 2px;
}

.search__brand:checked + .search__custom-checkbox--2,
.search__model:checked + .search__custom-checkbox--2,
.search__techology-checkbox:checked + .search__custom-checkbox--2 {
  border: 1px solid #FF7931;
  background-color: #FF7931;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.55 4.75L.64 2.87 0 3.49 2.55 6 8 .63 7.36 0 2.55 4.75z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.search__brand-wrapper,
.search__model-wrapper {
  font-weight: normal;
  margin-top: 12px;
  margin-left: -25px;
  display: none;
}

.search__brand-wrapper a,
.search__model-wrapper a,
.search__filter-country a {
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #FF7931;
  border-bottom: 1px solid rgba(255, 121, 49, 0.3);
}

.search__filter-brand-input:checked + .search__brand-wrapper,
.search__model-checkbox:checked + .search__model-wrapper {
  display: block;
}

.search__filter-techology {
  position: relative;
  display: block;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.6px;
  line-height: 19px;
  color: #48494D;
  margin-bottom: 60px;
}

.search__techology-label {
  display: block;
  position: absolute;
  left: 22px;
  padding-left: 10px;
  font-weight: normal;

  &--no {
    left: 110px;
  }
}

.search__filter-promo h3 {
  margin-bottom: 13px;
}

.search__promo-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.search__promo {
  display: block;
  padding: 5px 15px 5px 15px;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  font-weight: bold;
  color: #BDBEC2;
  background-color: #F0F0F4;
  text-align: center;
  margin: 0 10px 10px 0;
}

.search__promo-checkbox:checked + .search__promo {
  background: linear-gradient(92.77deg, #9710E9 1.17%, #FD8D43 99.31%);
  color: #fff;
}

.search__filter-country {
  position: relative;
  margin-bottom: 30px;
}

.search__country-label {
  margin-bottom: 0;
}

.search__label--country {
  font-size: 16px;
  letter-spacing: 0.5px;
}

.search__country-wrapper {
  display: none;
  margin: 20px auto 50px -20px;
  font-weight: normal;
}

.search__country-wrapper a {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 13px;
}

.search__country-checkbox:checked + .search__country-wrapper {
  display: flex;
}

.search__country-wrapper label input {
  appearance: none;
}

.search__submit {
  display: block;
  width: 252px;
  height: 50px;
  margin-bottom: 20px;
  background-color: #F0F0F4;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #BDBEC2;
  border: none;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    display: none;
  }
}

.search__filter-additional {
  text-align: center;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: "Proxima Nova", "Arial", sans-serif;
  font-size: 13px;
  line-height: 16px;
  color: #6F6F6F;
  margin-left: 25px;
  margin-bottom: 6px;
}

.search__reset {
  font-size: 13px;
  line-height: 16px;
  text-decoration: none;
  color: #BDBEC2;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #BDBEC2;
  margin-left: 70px;
  padding: 0;
  cursor: pointer;
}

.search__filter-mark {
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;


  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.search__mark-select-wrapper {
  position: relative;
  margin: 0 30px 32px auto;
  box-sizing: border-box;
}

.search__select {
  width: 100%;
  display: block;
  border: 1.5px solid #D7D9DF;
  padding: 12px 48px 12px 15px;
  appearance: none;
  background-color: transparent;
}

.search__mark-select-wrapper::after {
  position: absolute;
  display: block;
  content: "";
  top: 15px;
  right: 17px;
  width: 12px;
  height: 8px;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.6 0L6 4.6 1.4 0 0 1.4l6 6 6-6L10.6 0z' fill='%23D7D9DF'/%3E%3C/svg%3E%0A");
}

.search__mark-select p {
  margin-bottom: 10px;
  letter-spacing: 0.8px;
}

.search__radial {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 30px;
  margin-bottom: 20px;

  &--r17 {
    padding-top: 15px;
  }
}

.search__radial--r17 p {
  text-align: center;
  padding-right: 5px;
}

.search__radial h3 {
  font-size: 15px;
  position: absolute;
  top: -20px;
}

.search__radial label {
  display: block;
}

.search__radial-item {
  text-align: center;
  display: block;
  padding: 4px 10px;
  margin-bottom: 15px;
  margin-right: 15px;
  background: #f4f4f6;
  border-radius: 50px;
  width: 80px;
  border: 0;
  color: rgba(72,73,77,.7);
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
}

.search__radial-checkbox:checked + .search__radial-item {
  background-color: #FF7931;
}

.search__radial-wrapper p {
  font-size: 14px;
  line-height: 17px;
  color: #48494D;
}

.search__season-mark {
  position: relative;
  padding-left: 5px;
  width: 100%;
}

.search__season-mark h3 {
    font-size: 16px;
    margin: 0 0 14px 0;
    padding-left: 5px;
}

.search__mark-label {
  position: relative;
  display: block;
  font-size: 14px;
  overflow: hidden;
  width: 90%;
  padding-bottom: 5px;
  padding-left: 30px;
  margin-bottom: 15px;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.1);
}

.search__mark-checkbox {
  position: absolute;
  content: "";
  left: 261px;
  top: 4px;
  width: 12px;
  height: 12px;
  border: 1px solid #cdcdcd;
  cursor: pointer;
}

.search__mark-radio-1:checked + .search__mark-checkbox {
  border: 1px solid #FF7931;
  background-color: #FF7931;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M2.55 4.75L.64 2.87 0 3.49 2.55 6 8 .63 7.36 0 2.55 4.75z' fill='%23fff'/%3E%3C/svg%3E%0A");
  background-position: center;
  background-repeat: no-repeat;
}

.search__filter-radial {
  @media (max-width: $mobile-width) {
    padding-left: 10px;
  }
}

.search__link {
  position: absolute;
  display: none;
  width: 252px;
  height: 35px;
  bottom: 168px;
  left: 20px;
  background-color: #F0F0F4;
  text-align: center;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: #BDBEC2;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
  padding-top: 15px;

  @media (max-width: $mobile-width) {
    display: block;
  }
}

.search__accordion-wrapper {
  margin-top: 20px;
}

.search__range-controls {
  position: relative;
  margin-bottom: 22px;
}

.search__range-controls .search__scale {
  height: 1px;
  background: #e0e0e0;
  width: 270px;
}

.search__range-controls .search__bar {
  width: 90px;
  height: 3px;
  background: #ff7931;
  margin-left: 18px;
}

.search__range-toggle {
  position: absolute;
  top: -2px;
  width: 7px;
  height: 7px;
  background: #ff7931;
  border-radius: 50%;
  cursor: pointer;
}

.search__range-toggle--min {
  left: 18px;
}

.search__range-toggle--max {
  left: 108px;
}

.search__price-controls {
  display: flex;
  justify-content: space-between;
  width: 250px;
}

.search__price-controls label {
  color: rgba(0, 0, 0, 0.5);
  margin-right: 6px;
}

.search__price-controls input {
  font: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
  width: 44px;
  text-align: center;
}

