.search {
  display: flex;
}

.search__filter {
  width: 300px;
}

.search__result {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 875px;
  height: 1705px;
  overflow: hidden;
}

.search__result div {
  margin-bottom: 30px;
}

.search__result-list {
  display: flex;
  position: absolute;
  top: 1750px
}


