.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 760px;
  }

  @media (max-width: $mobile-width) {
    width: 330px;
  }
}


.container-slider {
  width: 1200px;
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 770px;
    padding: 0;
  }

  @media (max-width: $mobile-width) {
    width: 330px;
  }
}
