.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 770px;
  }
}

.container-slider {
  width: 1200px;
  padding: 0 70px;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $tablet-width) {
    width: 770px;
    padding: 0;
  }
}